$light-color: #fff;
$dark-color: #35495e;
$green-color: #41b883;
$light-grey-color: #f6f6f6;
$content-width: 850px;
$border-radius: 5px;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%overlay {
  @extend %flex-center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
}

body {
  margin: 0px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  color: $dark-color;
}

.ImageManager {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &-header {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    height: 60px;
    background-color: $light-grey-color;
  }

  &-toolbar {
    @extend %flex-center;
    width: $content-width;
  }

  &-main {
    width: $content-width;
    flex-grow: 1;
    align-self: center;
    padding: 10px 0px;
  }

  &-footer {
    height: 30px;
    background-color: $light-grey-color;
  }
}

.Grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-item {
    @extend %flex-center;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: $border-radius;
    position: relative;

    &:hover {
      border-color: $green-color;
      background-color: $light-grey-color;
      cursor: pointer;
    }
  }

  &-image {
    border-radius: $border-radius;
  }
}

.GridItemToolbar {
  display: none;
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 15px;
  right: 15px;

  .Grid-item:hover & {
    display: flex;
    flex-direction: column;
  }

  &-item {
    @extend %flex-center;
    $size: 30px;

    list-style-type: none;
    width: $size;
    height: $size;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid $dark-color;
    font-weight: 700;
    margin-bottom: 3px;
    border-radius: $border-radius;

    &:hover {
      background-color: $green-color;
    }
  }
}

.Uploader {
  $border-radius: 10px;

  &-fileInput {
    display: none;
  }
  &-addImage {
    $size: 50px;

    width: $size;
    height: $size;
    border-radius: $border-radius;
    font-size: 30px;
    border: 3px solid $dark-color;
    pointer-events: none;
    background-color: transparent;
  }

  &-label {
    display: block;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      background-color: $green-color;
    }
  }
}

.Viewer {
  @extend %overlay;

  &-content {
    @extend %flex-center;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    overflow: auto;
    border-radius: $border-radius;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-image {
    border-radius: $border-radius;
  }

  &-colors {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 30px;
    left: 40px;
  }

  &-color {
    height: 25px;
    width: 50px;
    list-style-type: none;
    margin-bottom: 5px;
    border-radius: $border-radius;
  }

  &-close {
    position: absolute;
    top: 30px;
    right: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: $light-color;
    border: 0px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
  }
}

.LoadIndicator {
  @extend %overlay;

  &-indicator {
    transform: translateZ(1px);
  }

  &-cicle {
    $size: 64px;

    display: inline-block;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: $green-color;
    animation: LoadIndicator-indicator 2.4s cubic-bezier(0, 0.2, 0.8, 1)
      infinite;
  }
}

@keyframes LoadIndicator-indicator {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
